* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 4vw;
}

header,
section,
.location {
    display: flex;
}

header {
    gap: 1em;
    background-color: #F55A5A;
    justify-content: center;
    padding: 1em;
}

.logo {
    width: 2em;
}

header > h1 {
    color: white;
    font-size: 1em;
    font-weight: 400;
}

main {
    padding: 1em;
}

section {
    gap: 1em;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 1em;
    margin-bottom: 1.1em;
}

.location-img {
    width: 35vw;
    height: 55vw;
    object-fit: cover;
    border-radius: 5px;
}

.location {
    align-items: center;
    gap: .5em;
}

.location > h1,
.location > a,
.dates,
.desc {
    font-weight: 400;
    font-size: .625em;
}

i {
    color: #F55A5A;
}

.location > h1 {
    letter-spacing: .1em;
}

.location > a {
    color: #918E9B;
    cursor: pointer;
}

.location > a:hover {
    color: #F55A5A;
}

h2 {
    margin-bottom: .8em;
}

.dates {
    font-weight: 700;
    margin-bottom: .8em;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 550px) {
    body {
        font-size: 3vw;
    }
}

@media (min-width: 750px) {
    body {
        font-size: 1.9vw;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    section {
        width: 49%;
    }
    
    .location-img {
        width: 14vw;
        height: 20vw;
    }
}
